*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}
.body-index {
    position: relative;
    width: 100%;
    height: 1200px;
}
.body-about {
    position: relative;
    width: 100%;
}
header {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 150;
}
.encabezado {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(circle, rgba(213,4,4,0.97) 52%, rgba(121,17,39,0.90) 99%);
}

.encabezado a {
    margin-left: 10px;
    margin-right: 10px;
    color: antiquewhite;
}

.encabezado p {
    color: antiquewhite;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

.header .logo {
    width: 300px;
    height: 100px;
    position: absolute;
    right: 50%;
}

.header .logo .logoimg {
    max-height: 100%;
    max-width: 100%;
}

.header .menu-nav {
    position: absolute;
    left: 55%;
}

.header .menu-nav ul {
    display: flex;
    list-style: none;
    gap: 30px; 
}

.header .menu-nav ul li a {
    text-decoration: none;
    color: rgb(213, 4, 4);
    margin: 10px;
    cursor: pointer;
}

.header .menu-nav ul li a:hover {
    color: black;
}


.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: rgb(213,4,4);
}
.main-principal {
    width: 100%;
    height: 1200px;
}

.principal {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.imagenes {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
.barra-de-progresos {
    position: absolute;
    bottom: 1%;
    left: 35%;
    display: flex;
}
.progress-bar {
    width: 40px;
    height: 5px;
    background: #e0e0e0;
    margin: 20px auto;
    border-radius: 1px;
    margin: 3px;
    overflow: hidden;
    z-index: 1000;
}

.progress {
    width: 0;
    height: 100%;
    background: #1d2221;
    transition: width 5s linear;
}
.img-cont {
    width: 100%;
    overflow: hidden;
}
#images {
    position: relative;
    width: 101%;
    height: 600px; 
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}
  #images div {
    display: flex;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}
.div-img {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    img {
        width: 100%;
        height: 100%;
    }
}
.div-img h3 {
    font-size: 24px;
    color: aliceblue;
    text-align: center;
    justify-self: center;
}
  
.tarjetas {
    width: 100%;
    height: 35%;
    display: flex;
    z-index: 10;
    position: absolute;
    bottom: 10%;
}
.tarjeta {
    width: 15%;
    height: 250px;
    bottom: 0%;
    opacity: 0;
    background-color: aliceblue;
    animation-duration: 5s;
    animation-timing-function: linear;
    p {
        position: relative;
        top: 40%;
        text-align: center;
        font-weight: bold;
    }
}
.tarjeta:first-child {
    width: 20%;
}
.tarjeta:last-child {
    width: 20%;
}
.textos-tarj {
    position: absolute;
    color: black;
    z-index: 20;
    width: 100%;
    bottom: 30%;
    display: flex;
    object-fit: contain;
    cursor: pointer;
}
.textos-tarj h2 {
    width: 15%;
    text-align: center;
    z-index: 30;
    opacity: 1;
}
.textos-tarj h2:first-child {
    width: 20%;
}
.textos-tarj h2:last-child {
    width: 20%;
}
.texto {
    color: aliceblue;
}
.texto-tarjeta {
    color: black;
    opacity: 1;
    z-index: 100;
}
#miVideo {
    width: 70%;
    height: 100%;
}





#footer {
    width: 100%;
    height: 400px;
    position: relative;
    background: radial-gradient(circle, rgba(213, 4, 4, 0.97) 52%, rgba(121, 17, 39, 0.90) 99%);
}

#footer .footer-main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#footer .footer-main .cont {
    position: relative;
    width: 100%;
    height: 100%;
}

#footer .footer-main .cont h4 {
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 30px;
}

#footer .footer-main .cont h5 {
    position: absolute;
    top: 150px;
    left: 50px;
    font-size: 16px;
}

#footer .footer-main .formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

#footer .footer-main .formulario .form-grup {
    position: absolute;
    flex-direction: column;
    top: 50px;
    left: 0px;
    width: 90%;
    height: 250px;
}

#footer .footer-main .formulario .form-grup input {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 3px;
    background-color: red;
}

#footer .footer-main .formulario .form-grup input::placeholder {
    color: black;
}

#footer .footer-main .formulario .form-grup #mensaje::placeholder {
    position: absolute;
    top: 5px;
}

#footer .footer-main .formulario .form-grup .form-mensaje {
    height: 100px;
}

#footer .footer-main .formulario button {
    position: absolute;
    top: 250px;
    left: 100px;
    width: 100px;
    height: 30px;
    color: red;
    cursor: pointer;
}

#footer .footer-main .formulario button:hover {
    background-color: rgb(75, 75, 161);
}


.calendario-turnos {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
}

.calendario-turnos h1 {
    width: 900px;
    height: 15%;
    color: azure;
    background-color: red;
    text-align: center;
    position: relative;
    top: 5%;
}

.calendario-turnos .check {
    position: relative;
    height: 50px;
    right: 20%;
    background-color: grey;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.calendario-turnos .check a {
    text-decoration: none;
    color: rgb(213, 4, 4);
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.calendario-turnos .check a:hover {
    color: black;
}

.calendario {
    position: relative;
    width: 900px;
    height: 800px;
    margin: auto;
    padding: 20px;
    background-image: url(../assets/people-exercise-fit-fitness.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.calendario .controles {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.calendario .controles .mesActual {
    color: azure;
    font-size: 28px;
}

.calendario .controles #mesAnterior {
    background-color: darkslategrey;
    width: 100px;
    border-radius: 50% 10% 10% 50%;
    cursor: pointer;
}

.calendario .controles #mesSiguiente {
    background-color: darkslategrey;
    width: 100px;
    border-radius: 10% 50% 50% 10%;
    cursor: pointer;
}

.calendario ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendario ul li {
    width: 120px;
    text-align: center;
    color: azure;
}

.calendario .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendario .dias .dia {
    position: relative;
    color: azure;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.calendario .mes {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.dia:hover {
    transform: scale(1.05);
    background-color: darkslategray;
    z-index: 2;
}
#formulario-reserva {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.horarios-disponibles {
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    height: 30px;
    color: rgb(206, 245, 208);
    margin: 15px;
}

.horarios-disponibles .horarios-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.horarios-disponibles .horarios-container .horario {
    cursor: pointer;
    width: 60px;
}

    #formularioReserva {
        display: none;
        width: 300px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    #formularioReserva input {
        width: 100%;
        height: 25px;
    }
    
    #formularioReserva button {
        background-color: darkslategrey;
        width: 50%;
        height: 30px;
        border-radius: 15px;
        cursor: pointer;
    }
    
    #formularioReserva h3 {
        color: azure;
    }
    
    #formularioReserva label {
        color: azure;
    }
    
    #formularioReserva .mensaje-error {
        display: none;
    }
    

.horario.reservado {
    color: rgb(199, 56, 56);
    text-decoration: line-through;
}

.horario:hover {
    transform: scale(1.2);
}

button:hover {
    color: azure;
    background-color: rgb(12, 0, 15);
}
.reserva-realizada {
    font-size: 18px;
    color: rgb(219, 206, 206);
    margin-top: 20%;
    justify-content: center;
    width: 100%;
    background-color: rgb(48, 50, 56);
}
.btn-cont {
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 45%;
    margin-top: 2%;
    border-radius: 10px;
}
.btn-cont:hover {
    color: azure;
    background-color: rgb(12, 0, 15);
}
/* Estilos para la tabla de reservas */


.calendario-reservas {
    text-decoration: rgb(15, 15, 15);
    width: 800px;
    height: 700px;
    margin: auto;
    padding: 20px;
    position: relative;
    background-image: url(../assets/joel-2.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra el contenedor */
}

.calendario-reservas h2 {
    text-align: center;
    font-size: 50px;
    color: #f00808;
    background-color: rgb(69, 66, 70);
}

.calendario-reservas .controles-reservas {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.calendario-reservas .controles-reservas .mesActual {
    color: aliceblue;
    font-size: 28px;
}

.calendario-reservas .controles-reservas #mesAnterior-res {
    width: 100px;
    height: 30px;
    background-color: darkslategrey;
    border-radius: 50% 10% 10% 50%;
    cursor: pointer;
}

.calendario-reservas .controles-reservas #mesSiguiente-res {
    width: 100px;
    background-color: darkslategrey;
    border-radius: 10% 50% 50% 10%;
    cursor: pointer;
}

.calendario-reservas ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.calendario-reservas ul li {
    width: 120px;
    text-align: center;
    color: aliceblue;
}

.calendario-reservas .dias-res {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendario-reservas .dias-res .dia {
    position: relative;
    color: aliceblue;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.calendario-reservas .mes {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: aliceblue;
}

.calendario-reservas .reservas-form {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 300px;
}

.calendario-reservas .reservas-dia {
    width: 80px;
    margin: 10px;
    color: red;
    background-color: black;
    text-align: center;
}

   .reserva-elem {
    width: 50%;
    margin: 30px;
    color: red;
    background-color: black;
    text-transform: uppercase;
   }
    .reserv {
        position: absolute;
        bottom: 20%;
        color: red;
        text-decoration: maroon;
        text-align: center;
        z-index: 10;
    }
        .disponible {
            background-color: rgb(149, 224, 139, 0.5);
        }

        .header-about {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100px;
            background-color: black;
            position: relative;
            gap: 10px;
        }
        
        .header-about .logo {
            width: 300px;
            height: 95%;
            position: absolute;
            right: 50%;
            overflow: hidden;
        }
        
        .header-about .logo .logoimg {
            width: 100%;
            position: absolute;
            top: -50px;
            z-index: 200;
        }
        
        .header-about .menu-nav {
            position: absolute;
            left: 55%;
        }
        
        .header-about .menu-nav ul {
            list-style: none;
            display: flex;
        }
        
        
        
        .header-about .menu-nav ul li a {
            text-decoration: none;
            color: rgb(213, 4, 4);
            margin: 10px;
            cursor: pointer;
            &:hover {
                color: aliceblue;
            }
        }
        
        .main-about {
            width: 100%;
            height: 4220px;
        }
        
        .main-about .princ-about {
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 100px repeat(6, 1fr);
            background-color: black;
        }
        
        .main-about .princ-about img {
            opacity: 0;
            transform: scale(0.5);
            animation: fade-in 1s linear forwards;
        }
        
        .main-about .princ-about div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: scale(0.5);
            animation: fade-in 1s linear forwards;
            text-align: center;
        }
        
        .main-about .princ-about p {
            width: 90%;
            font-size: 28px;
            margin: 10px;
            color: aliceblue;
        }
        
        /* Animaciones */
        @keyframes fade-in {
            from {
                opacity: 0;
                transform: scale(0.5);
            }
            to {
                opacity: 1;
                transform: scale(1);
            }
        }
        
.body-about .main-about .princ-about div h3 {
    font-size: 32px;
    color: aliceblue;
    align-self: center;
}
.body-about .main-about .princ-about div h2 {
    font-size: 32px;
    color: aliceblue;
}


      .descr-1 {grid-column: 1 / 2;
    grid-row: 2 / 3;width: 100%;
    height: 100%;
    }
      .descr-2 {grid-column: 3 / 4;
    grid-row: 3 / 4;width: 100%;
    height: 100%;}
      .descr-3 {grid-column: 1 / 2;
    grid-row: 4 / 5;width: 100%;
    height: 100%;}
      .descr-4 {grid-column: 3 / 4;
    grid-row: 5 / 6;width: 100%;
    height: 100%;}
      .descr-5 {grid-column: 1 / 2;
    grid-row: 6 / 7;width: 100%;
    height: 100%;}
      .descr-6 {grid-column: 2 / 3;
    grid-row: 7 / 8;width: 100%;
    height: 100%;}
.img-ab-1 {grid-column: 2 / 4;
    grid-row: 2 / 3;width: 100%;
    height: 100%;
    }
.img-ab-2 {grid-column: 1 / 3;
        grid-row: 3 / 4;width: 100%;
        height: 100%;
        }
.img-ab-3 {grid-column: 2 / 4;
            grid-row: 4 / 5;width: 100%;
            height: 100%;}
.img-ab-4 {grid-column: 1 / 3;
                grid-row: 5 / 6;width: 100%;
                    height: 100%;}
.img-ab-5 {grid-column: 2 / 4;
                    grid-row: 6 / 7;width: 100%;
                height: 100%;}
.img-ab-6 {grid-column: 3 / 4;
                        grid-row: 7 / 8;
                    width: 100%;height: 100%;}
.img-ab-7 {grid-column: 1 / 2;
                grid-row: 7 / 8;
                width: 100%; height: 100%;
                    }
.weather {
                width: 100%;
                height: 500px;
                display: flex;
                    }
#clima {
                        background: #c2b5b5;
                        padding: 20px;
                        border-radius: 8px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        max-width: 425px;
                        width: 100%;
                        text-align: center;
                    }
#clima h2 {
                        margin: 0;
                        font-size: 24px;
                        color: #f00808;
                    }
#clima h3 {
                        font-size: 40px;
                    }
#clima img {
                        width: 120px;
                        height: 120px;
                    }
#clima p {
                        text-transform: capitalize;
                        margin: 5px 0;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    
                    #forecast {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%; /* Opcional, para asegurar que el contenedor use todo el ancho disponible */
                        padding: 20px; /* Opcional, para agregar un poco de espacio alrededor del contenido */
                    }
                    
                    #forecast h2 {
                        position: absolute;
                        top: 5%;
                        color: #f00808;
                    }
                    
                    .day-forecast {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: #c2b5b5;
                        padding: 20px;
                        border-radius: 8px;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                        margin-top: 10%;
                        width: 150px;
                        max-height: 200px;
                        margin-left: 8px;
                        text-align: center; /* Agregado para centrar el texto dentro del contenedor */
                    }
                    
                    .day-forecast h3 {
                        text-transform: capitalize;
                    }
                    
                    .day-forecast p {
                        font-weight: bold;
                        font-size: 24px; /* Establecido específicamente para los <p> dentro de .day-forecast */
                    }
                    
                    .day-forecast p:first-child {
                        font-size: 24px; /* Asegurando que el primer <p> tenga el tamaño de fuente deseado */
                    }
                    
                    @media (max-width: 768px) {
                        .header {
                            display: flex;
                            width: 100%;
                            position: relative;
                            align-items: center;
                        }
                    
                        .header .logo {
                            width: 150px;
                            height: auto; 
                            left: 0;
                        }
                        .header .menu-nav{
                            display: flex;
                            left: 85%;
                            top: 30%;
                        }
                        .hamburger-menu {
                            display: flex;
                            position: absolute;
                            right: 10%;
                        }
                        .header .menu-nav ul {
                            position: absolute;
                            left: 0%; 
                            align-items: center;
                            display: none;
                            flex-direction: column; 
                            height: auto;
                            background-color: white;
                        }
                    
                        .header .menu-nav ul li {
                            margin: 5px;
                            padding: 2px;
                        }
                    
                        .header-about {
                            display: flex;
                            align-items: center;
                            flex-direction: column; /* Cambiado a columna para mejorar la adaptabilidad */
                        }
                    
                        .header-about .logo {
                            width: 40%;
                            height: auto;
                            left: 0;
                        }
                    
                        .header-about .menu-nav {
                            left: 0;
                            width: 100%;
                        }
                    
                        .header-about .menu-nav ul {
                            background-color: black;
                            display: flex;
                            flex-direction: column; /* Alineación en columna para pantallas pequeñas */
                            right: 0;
                            z-index: 1000;
                            align-items: center;
                        }
                    
                        .menu-nav.active {
                            background-color: black;
                            position: relative;
                        }
                        .menu-nav.active ul{
                            display: flex;
                        }
                    
                        .textos-tarj .texto, .texto-tarjeta {
                            font-size: 1rem; /* Ajustado para unidades relativas */
                        }
                    
                        .tarjeta p {
                            font-size: 0.75rem; /* Ajustado para unidades relativas */
                        }
                    
                        .barra-de-progresos {
                            left: 0; /* Centrando para pantallas pequeñas */
                            margin: 0 auto;
                        }
                    
                        .calendario-turnos h1 {
                            width: 100%;
                            height: auto;
                        }
                    
                        .calendario-turnos .check {
                            right: 10px;
                            top: 40px;
                        }
                    
                        .calendario, .calendario-reservas {
                            width: 100%;
                        }
                    
                        .calendario .day, .calendario-reservas .day {
                            width: 60px; /* Ajustado para pantallas pequeñas */
                            height: 60px;
                        }
                    
                        .body-index {
                            width: 100%;
                        }
                    
                        .main-about {
                            height: auto; /* Ajuste automático para pantallas pequeñas */
                        }
                    
                        .main-about .princ-about div p {
                            font-size: 0.75rem; /* Ajustado para unidades relativas */
                        }
                    
                        #forecast {
                            flex-wrap: wrap;
                        }
                    
                        #forecast div {
                            border-radius: 5px;
                            border: 2px slateblue solid;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            margin: 5px;
                        }
                    
                        .encabezado p, .encabezado a {
                            font-size: 0.625rem; /* Ajustado para unidades relativas */
                        }
                    }
                    
                     @media (max-width: 425px) {
                        
                            .header .logo {
                                
                                left: 5%;
                            }
                        .header-about .logo{
                            left: 5%;
                            width: 100%;
                        }
                        .header-about .menu-nav.active ul {
                            background-color: rgb(43, 51, 51);
                        }
                        .menu-nav {
                            display: none;
                        }
                    
                        .hamburger-menu {
                            display: flex;
                            position: absolute;
                            right: 10%;
                        }
                    
                        .menu-nav.active {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 100%;
                            left: 70%;
                            width: 30%;
                            
                        }
                    
                       
                    
                        .menu-nav.active a {
                            
                            padding: 10px;
                            text-align: center;
                            
                        }
                        .main-principal{
                            height: 1000px;
                        }
                        .principal {
                            height: 600px;
                            display: flex;
                            flex-direction: column;
                            overflow: visible;
                            background-color: black;
                        }
                        .imagenes img {
                            height: 70%;
                        }
                        .barra-de-progresos{
                            bottom: 30%;
                            left: 20%;
                        }
                        .textos-tarj {
                            width: 100%;
                            bottom: 25%;
                            display: block;
                            }
                            .textos-tarj h2 {
                                position: absolute;
                                width: 100%;
                                text-align: center;
                                z-index: 30;
                                font-size: 24px;
                            }
                            .textos-tarj h2:first-child {
                                width: 100%;
                            }
                            .textos-tarj h2:last-child {
                                width: 100%;
                            }
                        .texto {
                            display: none;
                        }
                        .texto-tarjeta {
                            width: 100%;
                            color: aliceblue;
                        }
                        .tarjeta:first-child {
                            width: 100%;
                        }
                        .tarjeta:last-child {
                            width: 100%;
                        }
                        .tarjetas {
                            width: 100%;
                            bottom: -10%;
                            color: aliceblue;
                            display: block;
                        }
                        .tarjeta {
                            position: absolute;
                            width: 100%;
                            background-color: transparent;
                        }
                        .tarjeta p{
                            font-size: 18px;
                        }
                        #images {
                            height: 450px;
                        }
                        .img-cont {
                            position: relative;
                        }
                        .div-img {
                            position: relative;
                            flex-direction: column;
                            height: 400px;
                        }
                        #miVideo {
                            width: 100%;
                            height: 300px;
                        }
                        .div-img h3 {
                            font-size: 20px;
                            position: absolute;
                            top:5%;
                        }

                        #footer .footer-main .cont h4 {
                            top: 50px;
                            left: 10px;
                            font-size: 24px;
                        }
                        #footer .footer-main .cont h5 {
                            top: 100px;
                            left: 10px;
                            font-size: 16px;
                        }
                        #footer .footer-main .formulario button {
                            left: 25%;
                        }
                        .weather {
                            flex-direction: column;
                        }
                        #clima{
                            width: 100%;
                        }
                        .calendario{
                            background-color: rgb(99, 93, 93);
                        }
                        .dias div{
                            width: 100%;
                            height: 30px;
                        }
                        /* .dia:hover {
                            display: none;
                        } */
                        #formulario-reserva div{
                            font-size: 12px;
                        }
                        .calendario-reservas {
                            background-size: 150%;
                            h2{
                                font-size: 24px;
                            }
                            .controles-reservas{
                                #mesAnterior-res {
                                    width: 60px;
                                    height: 30px;
                                }
                                .mesActual{
                                    font-size: 24px;
                                }
                                #mesSiguiente-res {
                                    width: 60px;
                                    height: 30px;
                                }
                            }
                        }
                        .calendario-reservas{
                            background-color: #1d2221;
                        }
                        .calendario .controles #mesAnterior {
                            width: 60px;
                            height: 25px;
                        }
                        .calendario .controles #mesSiguiente {
                            width: 60px;
                            height: 25px;
                        }
                        .calendario .controles .mesActual{
                            font-size: 18px;
                        }
                        
                        .calendario-reservas .controles #mesAnterior {
                            width: 60px;
                            height: 25px;
                        }
                        .calendario-reservas .controles #mesSiguiente {
                            width: 60px;
                            height: 25px;
                        }
                        .calendario-reservas .controles .mesActual{
                            font-size: 18px;
                        }
                        #footer {
                            height: 450px;
                        }
                        #footer .footer-main {
                            display: flex;
                            flex-direction: column;
                            justify-content:flex-start;
                        }
                        #footer .footer-main .cont {
                            height: 20%;
                            top: 0;
                        }
                        #footer .footer-main .cont h4 {
                            top: 15%;
                            left: 30%;
                            font-size: 24px;
                        }
                        #footer .footer-main .cont h5 {
                            left: 15%;
                        }
                        #footer .footer-main .formulario {
                            margin: 5%;
                        }
                        #footer .footer-main .formulario button {
                            left: 35%;
                        }
                        #forecast .day-forecast{
                            width: 100px;
                            height: 100px;
                        }
                        .main-about{
                            height: 3500px;
                        }
                        .main-about .princ-about{
                            height: 3500px;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: 50px repeat(12, 1fr);
                            h2{
                                grid-column: 1/3;
                                grid-row: 1/2; 
                            }
                            div {
                                height: 200px;
                            }
                        }
                        .descr-1{
                            grid-column: 1/3;
                            grid-row: 2/3;
                            width: 100%;
                        }
                        .descr-2{
                            grid-column: 1/3;
                            grid-row: 4/5;
                            width: 100%;
                        }
                        .descr-3{
                            grid-column: 1/3;
                            grid-row: 6/7;
                            width: 100%;
                        }
                        .descr-4{
                            grid-column: 1/3;
                            grid-row: 8/9;
                            width: 100%;
                        }
                        .descr-5{
                            grid-column: 1/3;
                            grid-row: 10/11;
                            width: 100%;
                        }
                        .descr-6{
                            grid-column: 1/3;
                            grid-row: 12/13;
                            width: 100%;
                        }
                        .img-ab-1{
                            grid-column: 1/3;
                            grid-row: 3/4;
                            width: 100%;
                        }
                        .img-ab-2{
                            grid-column: 1/3;
                            grid-row: 5/6;
                            width: 100%;
                        }
                        .img-ab-3{
                            grid-column: 1/3;
                            grid-row: 7/8;
                            width: 100%;
                        }
                        .img-ab-4{
                            grid-column: 1/3;
                            grid-row: 9/10;
                            width: 100%;
                        }
                        .img-ab-5{
                            grid-column: 1/3;
                            grid-row: 11/12;
                            width: 100%;
                        }
                        .img-ab-6{
                            grid-column: 1/3;
                            grid-row: 13/14;
                            width: 100%;
                        }
                        .img-ab-7{
                            display: none;
                        }
                        
                    } 
                     @media (max-width: 320px) {
                        #images {
                            height: 400px;
                        }
                        .encabezado a{
                            font-size: 8px;
                        }
                        .header-about .logo .logoimg {
                            width: 200px;
                        }
                        .main-about{
                            height: 3500px;
                        }

                        .calendario{
                            background-size: 120%;
                        }
                        .calendario-reservas{
                            height: 500px;
                            background-color: #1d2221;
                            background-size: 200%;
                        }
                        .barra-de-progresos{
                            left: 5%;
                        }
                    }
                    

